/* reset */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#F2F2F2;
    width: 795px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        180deg,
        rgb(231, 219, 203),
        rgba(231, 219, 203, 0.1)
      ), url(https://ableton-production.imgix.net/live/creation-space-front-10.jpg?auto=compress%2Cformat&w=1600);
}

header {
    background-color: antiquewhite;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #262626;
    border-radius: 4px;
    position: sticky;
    top: 0;
    

}
header div #logo-header {}
header div img {
    margin-left: 8px;
}
header nav {
    flex-direction: row;
    margin-top: 10px;
}
header nav a {
    color: black;
    text-decoration: none;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 2px;
}

main {
    display: flex;
}
main section {
}
main section article {
    background-color: antiquewhite;
    margin-bottom: 8px;
    border: 2px solid #262626;
    border-radius: 4px;
}
main section article h1 {
    margin-left: 8px;
}
main section article h4 {
    margin-left: 8px;
}
main section article .data {
    margin-left: 8px;
    color: rgb(165, 156, 143)
}
main section article p {
    margin-left: 8px;
    margin-top: 8px;
}

aside {
    background-color: antiquewhite;
    border: 2px solid #262626;
    border-radius: 4px;
    margin-left: 10px;
    max-width: 198px;
}

aside img {
    max-width: 198px;
    margin-bottom: 8px;
}

footer {
    background-color: antiquewhite;
    margin-top: 8px;
    text-align: center;
    border: 2px solid #262626;
    border-radius: 4px;
}
